@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;900&display=swap');body{
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:#F7FCFE;
}
header{
  display: flex;
  max-width: 100%;
  background-color: #020100;
  padding: 10px;
  flex-direction: row;
  align-self: stretch;
  justify-content: space-between;
  color: white;
  align-items: center;
  font-weight: 300;
}
#logo{
  max-height: 13vh;
  padding-left: 10px;
}
.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  padding: 10px;
  margin-left: 4px;
  color: white;
  font-size: 1.3em;
}
.button:hover {
  color: #D82D02;
  border-bottom-color: #D82D02;
  border-bottom-style: solid;
}

.banner{
  display: flex;
  background: url(skates2.jpg);
  background-size: auto;
  width: 100%;
  color: white;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 900;
  flex-direction: column;
}

.closed{
  display: flex;
  flex-direction: row;
  background-color: #943932;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}


/* hours, etc.  */
.general_info {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
  font-weight: 200;
}
.details {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 20px;
}
/* special stories and all */
.featured_info{
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: flex-start;
  font-size: 1.5em;
}
.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.info_pics {
  width: 24em;
  color: white;
}

a{
  color: white;
}
.row_class {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Slideshow container */
.slideshow-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-self: center;
  max-width: 100%;
  position: relative;
  margin: auto;

}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: .8em;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: black;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.title{
  font-size: 3.8em;
  font-weight: 900;
}
.subtitle{
  font-size:2.3em;
  font-weight: 600;
}
.wrapper {
  width: 80%;
  justify-content: flex-start;
  align-self: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: 930px) {
  header{
    flex-direction: column;
  }
  .button{
    font-size: 1.95em;
  }
  .text {
    font-size: 1.2em;
  }
  p{
    font-size: larger;
  }

  .info_pics {
    max-width: 100%;
    max-height: auto;
  }

}
@media only screen and (max-width: 686px) {
  .menu {
    flex-direction: column;
  }
  iframe {
    max-width: 560;
    max-height: 315;
  }
}
@media only screen and (max-width: 460px) {
  header{
    flex-direction: column;
  }
  .general_info {
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
  }

}
